{% extends "jobportal/base.html" %}
{% block content %}
<div class="container-fluid bodys pt-5">
<div class="container bg-light innerbody pt-3">
   <h3 class="text-center m-2 " style="color: rgb(109, 109, 221);">LogIn</h3>
<!-- <form method="post"> -->
    
    <form >
    <div class="form-group row">
      <label for="staticEmail" class="col-form-label">Email</label>
      <div class="">
        {{ form.username }}
            </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-form-label">Password</label>
      <div class="">
        {{ form.password }}  
          </div>
    </div>



    
    <div class="d-flex justify-content-center">

    <button type="submit" class="btn btn-info m-2">Sing Up</button>
    </div>
    <div class="d-flex justify-content-center">

        <a href="{% url 'register'%}" class="btn btn-warning ">Register</a>
        </div>
  </form>



  
</div>
</div>



{% comment %} 
<div class="container fluid">
  <div class="row">
      <div class="col-sm-4 offset-sm-4">
          <h1 class="text-center mt-5">Login</h1>
          <form method="post">
              <div class="form-group">
                  <label for="">{{ form.username.label }}</label>
                  {{ form.username }}
                  <div class="text-danger">
                      {{ form.username.errors.as_ul }}
                  </div>
              </div>
              <div class="form-group">
                  <label for="">{{ form.password.label }}</label>
                  {{ form.password }}
                  
                  {% if form.password.errors %}
                      <div class="alert alert-danger">
                          {% for e in form.password.errors %}
                              <p class="text-danger">{{ e }}</p>
                          {% endfor %}
                      </div>
                  {% endif %}
                      
              </div>
              <div class="d-grid">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary mt-2">Login</button>
              </div>
          </form>
      </div>
  </div>
</div> {% endcomment %}
{% endblock content %}