
{% extends "jobportal/base.html" %}
{% block content %}
<div class="container-fluid bodys pt-5 px-5">
 

  
        <h3 class="text-center m-2 " style="color: rgb(109, 109, 221);">User Profile Register</h3>
       
    
   
     <form action="" class="mt-4" method="post">
          {% csrf_token %}





        

        

       
        {% comment %}
         {{ language_formset }}


         {% endcomment %}



          <div class="row m-2">
                <div class="col">
                 {{ form.name }}
                </div>
                <div class="col">
                  {{ form.email }}
                </div>
                <div class="col">
                    {{ form.phone_number }}
                  </div>
              </div>
              <div class="row m-2">
                <div class="col">
                  {{ form.age }}

                </div>
                <div class="col form-check form-check-inline">
                  {{ form.gender }}

                </div>
                <div class="col">
                    {{ form.location }}
                  </div>
              </div>

              <div class="row m-2">
                <div class="col">
                  {{ form.experience}}
                </div>
                <div class="col">
                  {{ form.cv }}
                </div>
                <div class="col">
                    {{ form.profile_img}}
                  </div>
              </div> 

              {% comment %} <div class="row m-2">
                <div class="col">
                 
                  {{ skill_formset }}
                 
                </div>
                <div class="col">
                  {{ certification_formset }}
                </div>
                <div class="col">
                  {{ qualification_formset }}
                  </div>
              </div>  {% endcomment %}

              

              

              <div class="d-flex justify-content-center m-3">
                <button class="btn btn-info btn-pill" >Register now</button>
              </div>



        </form> 



       
    
     

        <div class="text-center">
          <small>Yor already log in ? <a href="{% url 'login'%}">LogIN</a></small>
        </div>
        
    </div> 
     
{% endblock content %}