
{% extends "jobportal/base.html" %}
{% block content %}
<div class="container-fluid bodys pt-5 px-5">
 

  
        <h3 class="text-center m-2 " style="color: rgb(109, 109, 221);">User Profile Register</h3>
       
    
   
     <form action="" class="mt-4" method="post">
          {% csrf_token %}
        
        </form> 
            <div class="text-center">
          <small>Yor already log in ? <a href="{% url 'login'%}">LogIN</a></small>
        </div>
        
    </div> 
     
{% endblock content %}